body{text-align:center;}

div.navbar{
    margin-top: 30%;
    display: inline-block;
}

.btn.btn-primary{
    font-size: 2em;
    padding: 5px 20px;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    }
    .overlay:target {
    visibility: visible;
    opacity: 1;
    }

    

    .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    }

    .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    }
    .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    }
    .popup .close:hover {
    color: #06D85F;
    }
    .popup .content {
    max-height: 30%;
    overflow: auto;
    }

    @media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
    }

.pop-up{
    height: 50%;
    background-color: #fff;
    text-align: center;
    justify-content: center;
    color: black;
    display: block;
    visibility: hidden;
    margin-top: -30%;    
    z-index: 1;
}

.pop-up h1{
    font-size: 3.2em;
}

.pop-up p{
    font-size: 2em;
    background: none;
}

.pop-up img{
    height: 80%;
    border-radius: 30px;
}

i {
    cursor:pointer;
    font-size: 30px;
    padding: 0 15px;
}

i.fa-times{
    margin-left: 700px;
}

a i{
    color: black;
}

a i:hover{
    color: rgba(0, 0, 0, 0.523);
}

li a{
    font-size: 2em;
    color: black;
}

li a:visited{
    color:black
}

#demo {
    position: absolute;
    top:0;
    left:0;
    font-size: 1.2em;
}

pre{
    margin-left: -80px;
    margin-top: 40px;
}

#img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}